# vim: tabstop=4 softtabstop=4 shiftwidth=4 expandtab

LXC_MGR="$(which docker 2> /dev/null)"
[ -z "${LXC_MGR}" ] && LXC_MGR="$(which podman 2> /dev/null)"

idf() {
    set -x
    VOLS=""
    [ -e /dev/ttyUSB0 ] && VOLS="$VOLS -v /dev/ttyUSB0:/dev/ttyUSB0"
    [ -e /dev/ttyACM0 ] && VOLS="$VOLS -v /dev/ttyACM0:/dev/ttyACM0"
    [ -z "${LXC_MGR}" ] || ${LXC_MGR} run --rm -it -v $PWD:/work -w /work $VOLS idf idf $@
    set +x
}

